Creating TCGA cohorts using BigQuery tables that ISB-CGC project produced. and open-access TCGA data available through the data portal. 

Access Google Cloud Platform (GCP) to use BigQuery. 
Free version: use [BigQuery Sandbox](https://docs.cloud.google.com/bigquery/docs/sandbox#setup)

In [ ]:
# Download Google Cloud CLI SDK
# 1. Create dataset, enable BigQuery API, activate Cloud Shell
# 2. Load data into a table, Query table data
# 3. Initialize gcloud CLI > gcloud init
from google.cloud import bigquery as bq

Set up [Application Default Credentials (ADC)](https://docs.cloud.google.com/docs/authentication/set-up-adc-local-dev-environment) first.

In [ ]:
# Load and query data with the bq command line tool
# Set your GCP Project ID
client = bq.Client(project='tcga-cohort-builder')

In [9]:
# Access the dataset
dataset_ref = client.dataset('tcga_201607_beta', project='isb-cgc')
dataset = client.get_dataset(dataset_ref)

In [ ]:
# Access a specific table (e.g., Clinical_data)
table_ref = dataset_ref.table('Clinical_data')
table = client.get_table(table_ref)

print(f"Table {table.table_id} loaded.")

Table Clinical_data loaded.

google.cloud.bigquery.table.Table

In [15]:
import pandas as pd

# Collect table metadata
tables_info = []
for t in table:
    size_mb = t.metadata.size / (1024 * 1024)  # Convert bytes to MB
    tables_info.append({
        'Table Name': t.name.table_id,
        'Rows': f"{t.metadata.rows:,}",
        'Size (MB)': f"{size_mb:.2f}"
    })

# Display as a table
df = pd.DataFrame(tables_info)
print(df.to_string(index=False))

TypeError: 'Table' object is not iterable